* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

header {
    width: 600px;
    width: 100%;
    padding-right: 210px;
    padding-left: 638px;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    height: 70px;
}

header ul li a {

    background-color: #C4C4C4;
    border-radius: 0 35px 0 35px;

    padding: 24px 18px 24px 26px;
    color: #000000;
}

li:hover a {
    color: #ffffff;
    background-color: #79B331;
}



/* ----------------------index------------------------------ */
body {
    width: 100%;
    height: 100%;
    background-image: url(../Rectangle\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.atvliskonteineri {
    width: 422px;
    height: 188px;
    margin-top: 94px;
    margin-left: 806px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.akciisdasrulebamdedarchenilia {
    position: absolute;
    top: 36px;
    font-size: 18px;
    font-weight: 400;
}

.saatebi {
    position: absolute;
    top: 82px;
    font-size: 36px;
    font-weight: 400;
}

.kvadrati {
    width: 100%;
    height: 100%;
}

.wre {
    width: 32px;
    height: 32px;
    background-color: #79B331;
    border-radius: 50%;
    position: relative;
    animation-name: wrebrunva;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes wrebrunva {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: 0px;
        left: 390px;
    }

    50% {
        top: 156px;
        left: 390px;
    }

    75% {
        top: 156px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}


.gerocontainer {
    width: 1000px;
    height: 430px;
    margin-top: 108px;
    margin-left: 332px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;  */
    /* background-color: bisque; */
    /* padding: 20px; */
}

.gero {
    /* position: absolute; */
    left: 50%;
    width: 0px;
    height: 100%;
    border: 1px solid #C4C4C4;
    margin: 0 auto;
}

.fdatexti{
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #79B331; */

}

.fdatexti1 {
  
    width: 494px;
    top: 5%;
    left: 15px;
    position: absolute;
}

.fdatexti2 {
    width: 500px;
    top: 30%;
    left: 49%;
    position: absolute;
}

.fdatexti3 {
    width: 562px;
    top: 55%;
    left: -51px;
    position: absolute;
}

.fdatexti4 {
    width: 496px;
    top: 75%;
    left: 49%;
    position: absolute;
}

.fotoli {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 70px;
    height: 70px;
    border-radius: 0 35px 0 35px;
    background-color: #C4C4C4;
    
}
.fdatexti:hover .fotoli{
    background-color:#79B331 ;
}


.fdatexti:hover .text{
        color:#79B331 ;
}

.marjvena {
    transform: rotate(90deg);

}

.fdatexti:hover .fotoli{
    
    color:#79B331 ;
}

.pirvelitext {
    width: 452px;
    padding: 20px;
}

.meoretext {
    width: 438px;
    padding: 20px;
}

.mesametext {
    width: 490px;
    padding: 20px;
}

.meotxetext {
    width: 452px;
    height: 78px;
    padding: 20px;
}

